body, .book-summary, h1, h2, h3, h4 {
	direction: rtl;
	text-align: right;
}

code, pre {
	direction: ltr !important;
	text-align: left !important;
}

code {
	display: inline-block !important;
	padding: 0 !important;
}

img {
	display: block;
	margin: 15px auto;
	max-width: 100%;
	height: auto;
}
